@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import "tailwindcss";

.font-luckiest {
  font-family: 'Luckiest Guy', cursive;
}

@theme{
    --color-fm-turquesa: #3ef2d0;
    --color-fm-turquesa_strong: #19e6c0;
--color-fm-turquesa_very_strong: #23a78e;
}
